.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100wv;
    padding-top: 4px;
    padding-bottom: 6px;
}

.header-main {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 204, 194);
}

.header_logo {
    width: 35px;
    margin-right: 8px; 
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_infoContainer {
    display: flex;
    align-items: center;
}

.header_controlscontainer {
    position: relative;
    display: flex;
    padding-top: 5px;

    &:hover::after {
        display: inline-block;
        position: absolute;
        left: -94px;
        top: -2px;
        width: 69px;
        padding: 10px;
        content: 'change view';
        background-color: rgb(75, 73, 73);
        border-radius: 2px;
        color: rgb(255, 255, 255);
        font-family: 'Open Sans';
        font-size: 12px;
        text-align: right;
    }

    &:hover::before {
        display: block;
        position: absolute;
        left: -5px;
        top: 12px;
        content: '';
        border: 5px solid transparent;
        border-left: 5px solid rgb(75, 73, 73);
    }
}

.header_controlcontainer {
    margin-right: 5px;
    cursor: pointer;
}

.header_control-main {
    fill: rgb(255, 255, 255);
    &:hover {
        fill: rgb(255, 209, 4);
    }
}