<div class="wrapper detail_wrpaaer">
    <!-- <p>{{ pockemonInformation.name.eng }}</p> -->
    <div class="detail_card">
        <div class="detail_image-container">
            <img class="detail_image" src="../../../assets/pokemons/{{pockemonInformation.id}}.png" alt="{{pockemonInformation.name}}">
        </div>
        <div class="detail_imfromation">
            <h3>{{pockemonInformation.name.eng}}</h3>
            <p [ngClass]="{'powerfull': isPowerfull()}">Damage - {{ pockemonInformation.damage }}</p>
            <p>Created on: {{pockemonInformation.created}}</p>
            <button class="detail_edit-information">Edit</button>
        </div>

        <button class="ditail_catch-button"
            (click)="onClickCatcn()"
        >{{ pockemonInformation.isFree ? 'catch' : 'release'}}</button>

    </div>
</div>

