.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100wv;
    padding-top: 4px;
    padding-bottom: 6px;
    z-index: 10;
}

.header-main {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 204, 194);
}

.header_logo {
    width: 35px;
    margin-right: 8px; 
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_infoContainer {
    display: flex;
    align-items: center;
}

.header_controlscontainer {
    display: flex;
    padding-top: 5px;
    & :nth-last-child(1) {
        margin-right: 0;
    }
}

.header_controlcontainer {
    margin-right: 5px;
    cursor: pointer;
}

.header_control-main {
    fill: rgb(255, 255, 255);
    &:hover {
        fill: rgb(255, 209, 4);
    }
}

.header_language {
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 10px;
    background-color: rgb(13, 161, 180);
    cursor: pointer;
}

.language_name {
    position: absolute;
    top: 3px;
    font-weight: 200;
    z-index: 100;

    &-en {
        right: 4px;
    }

    &-jp {
        left: 10px;
    }
}

.language_switch {
    display: block;
    position: absolute;
    top: 0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(247, 132, 66);
    z-index: 0;

    &-en {
        right: 0;
    }

    &-jp {
        left: 0;
    }
    
}

// .search_input {
//     padding: 5px;
    
// }

// .search_button {
//     padding: 5px;
//     margin-left: 5px;
//     background-color: rgb(250, 227, 98);
// }